{% extends 'base.html.twig' %}
{% block title %}Starshop: Beam up some parts!{% endblock %}
{% block body %}
<div>
    Browse through {{ ships|length * 10 }} starships!
    
    <table>
        <tr>
            <th>Name</th>
            <td>{{ myShip.name }}</td>
        </tr>
        <tr>
            <th>Class</th>
            <td>{{ myShip.class }}</td>
        </tr>
        {% if ships|length > 2 %}
        <tr>
            <th>Captain</th>
            <td>{{ myShip.captain|upper|lower|title }}</td>
        </tr>
        {% endif %}
        <tr>
            <th>Status</th>
            <td>{{ myShip.status }}</td>
        </tr>
    </table>
</div>

{% endblock %}
